Repository statisticsnorway/tech-coach-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, check-ast, ruff, black

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: Check Python syntax
  entry: check-ast
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

Initial pytest example
  README.md
  poetry.lock
  pyproject.toml
  src/automation/notebook_runner/notebook_runner.py
  src/automation/notebook_runner/notebooks/common_data.ipynb
  src/automation/notebook_runner/notebooks/notebook1.ipynb
  src/automation/notebook_runner/notebooks/notebook2.ipynb
  src/automation/notebook_runner/notebooks/notebooks.ini
  src/automation/papermill/papermill_child1.py
  src/automation/papermill/papermill_child2.py
  src/automation/papermill/papermill_parent.py
  src/jupyter/jupytext_ipynb.ipynb
  src/jupyter/jupytext_ipynb.py
  src/parquet/README.md
  src/parquet/dataset.md
  src/parquet/dataset.py
  src/parquet/dataset/categories.csv
  src/parquet/dataset/customers.csv
  src/parquet/dataset/details.csv
  src/parquet/dataset/orders.csv
  src/parquet/dataset/products.csv
  src/parquet/parquet_metadata.py
  src/parquet/queries_duckdb.py
  src/parquet/queries_pandas.py
  src/parquet/sqltest.py
  src/pytest_examples/README.md
  src/pytest_examples/functions.py
  tests/test_functions.py
Due: check-toml, check-ast, ruff, black

Add parquet-tests with PeriodIndex and categorical data
  parquet/parquet_metadata.py
Due: check-ast, ruff, black

Update dependencies and code quality checks
  .pre-commit-config.yaml
  parquet/queries_duckdb.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, check-ast, ruff, black

Initial Google Secret Manager example
  poetry.lock
  pyproject.toml
  secret/google_secret_manager.py
Due: check-toml, check-ast, ruff, black

Test on Dapla
  .pre-commit-config.yaml
  jupyter/jupytext_ipynb.ipynb
  secret/google_secret_manager.py
Due: check-yaml, check-ast, ruff, black

Finished Google Secret Manager example
  secret/google_secret_manager.py
Due: check-ast, ruff, black

Add file file_encryption.py
  secret/file_encryption.py
Due: check-ast, ruff, black

Inital example reading encrypted config file
  config/config.toml
  poetry.lock
  pyproject.toml
  secret/file_encryption.py
Due: check-toml, check-ast, ruff, black

Finish example reading encrypted config file
  secret/file_encryption.py
Due: check-ast, ruff, black

Update README.md
  README.md
Due: none

fixed notebook formatting
  jupyter/jupytext_ipynb.ipynb
Due: ruff, black

updated dependencies
  pyproject.toml
Due: check-toml

added documentation
  config_examples/README.md
Due: none

updated from main
  .pre-commit-config.yaml
  config_examples/ConfigReader.py
  config_examples/README.md
  config_examples/config_example.py
  parquet/dataset.md
  parquet/parquet_metadata.py
  parquet/queries_duckdb.py
  parquet/queries_pandas.py
  parquet/sqltest.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, check-ast, ruff, black

Update dependencies
  poetry.lock
Due: none

Testing function from S211
  src/pytest_examples/functions.py
  tests/conftest.py
  tests/test_functions.py
Due: check-ast, ruff, black

Add testing of pandas dataframe
  src/pytest_examples/functions.py
  tests/conftest.py
  tests/test_functions.py
Due: check-ast, ruff, black

Clean org number and name from testdata
  poetry.lock
  pyproject.toml
  src/pytest_examples/functions.py
  tests/__init__.py
  tests/conftest.py
  tests/replace_org_info.py
  tests/test_functions.py
  tests/testdata/valuta_omv_exchange_rates.parquet
  tests/testdata/valuta_omv_facit.parquet
  tests/testdata/valuta_omv_inndata.parquet
Due: check-toml, check-ast, ruff, black

Fix ruff error
  tests/replace_org_info.py
Due: check-ast, ruff, black

Moved directories
  src/config_examples/ConfigReader.py
  src/config_examples/README.md
  src/config_examples/config_example.py
  src/secret/file_encryption.py
  src/secret/google_secret_manager.py
Due: check-ast, ruff, black

Add example of storing testdata from Jupyter notebook
  poetry.lock
  src/pytest_examples/notebook_example.py
Due: check-ast, ruff, black

Initial test of running notebook functions
  src/automation/pythonfunctions/child1.py
  src/automation/pythonfunctions/child2.py
  src/automation/pythonfunctions/parent.py
Due: check-ast, ruff, black

Working example of running notebook as functions
  pyproject.toml
  src/automation/pythonfunctions/child1.py
  src/automation/pythonfunctions/child2.py
  src/automation/pythonfunctions/parent.py
Due: check-toml, check-ast, ruff, black

Make automation examples more equal
  src/automation/papermill/papermill_child1.py
  src/automation/papermill/papermill_child2.py
  src/automation/papermill/papermill_parent.py
  src/automation/pythonfunctions/child1.py
  src/automation/pythonfunctions/child2.py
Due: check-ast, ruff, black

Add timing og automation examples
  src/automation/papermill/papermill_parent.py
  src/automation/pythonfunctions/parent.py
Due: check-ast, ruff, black

Simplify parent.py by using run_all()
  src/automation/pythonfunctions/parent.py
Due: check-ast, ruff, black

Add automation documentation and cleanup
  README.md
  poetry.lock
  pyproject.toml
  src/automation/automation.md
  src/automation/papermill/papermill_parent.py
  src/automation/pythonfunctions/child1.py
  src/automation/pythonfunctions/parent.py
Due: check-toml, check-ast, ruff, black

Add GitHub Action for running tests
  .github/workflows/tests.yml
Due: check-yaml

pre-commit cleanup and update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/secret/google_secret_manager.py
  tests/test_functions.py
Due: check-toml, check-yaml, check-ast, ruff, black

Report missing coverage lines
  .github/workflows/tests.yml
Due: check-yaml

Add SonarCloud config file
  sonar-project.properties
Due: none

Fix SonarCloud warning
  .github/workflows/tests.yml
  pyproject.toml
Due: check-toml, check-yaml

Remove SonarCloud config
  sonar-project.properties
Due: none

Increase test coverage
  .github/workflows/tests.yml
  README.md
  poetry.lock
  pyproject.toml
  sonar-project.properties
  tests/test_parquet_metadata.py
Due: check-toml, check-yaml, check-ast, ruff, black

Set poetry package-mode to false
  poetry.lock
  pyproject.toml
Due: check-toml

Set pytest testpaths to tests directory
  poetry.lock
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  ruff: any of: \.py$, \.ipynb$
  black: any of: \.py$, \.ipynb$
