Repository statisticsnorway/tech-coach-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, check-ast, ruff, black

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: Check Python syntax
  entry: check-ast
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

Update dependencies
  poetry.lock
Due: none

Initial logging example
  poetry.lock
  src/logging/log_receiver.py
  src/logging/log_sender.py
Due: check-ast, ruff, black

TIP-844: Add documentation and todo-list
  src/logging/log_receiver.py
Due: check-ast, ruff, black

TIP-844: Add class for initializing the log receiver
  src/logging/log_receiver.py
  src/logging/ssb_logger.py
Due: check-ast, ruff, black

TIP-844: Remove padding in log format
  src/logging/log_receiver.py
Due: check-ast, ruff, black

TIP-844: Add time formatting to Oslo time zone
  poetry.lock
  pyproject.toml
  src/logging/log_receiver.py
  src/logging/log_sender.py
  src/logging/ssb_logger.py
Due: check-toml, check-ast, ruff, black

TIP-844: Add colored log output to console
  pyproject.toml
  src/logging/log_receiver.py
  src/logging/ssb_logger.py
Due: check-toml, check-ast, ruff, black

TIP-844: Initial test of gcp logging
  pyproject.toml
  src/logging/gcp_logger.py
Due: check-toml, check-ast, ruff, black

TIP-844: Test local logging to gcp
  src/logging/gcp_logger.py
Due: check-ast, ruff, black

TIP-844: Add decorator and use ISO8601 for date formatting
  src/logging/log_receiver.py
  src/logging/log_sender.py
  src/logging/ssb_logger.py
Due: check-ast, ruff, black

TIP-844: Add documentation for python logging
  README.md
  src/logging/README.md
  src/logging/log_demo.py
Due: check-ast, ruff, black

Remove gcp_logger.py since not working on Dapla
  poetry.lock
  src/logging/gcp_logger.py
Due: check-ast, ruff, black

Add example for how to call R from python
  poetry.lock
  pyproject.toml
  src/jupyter/dataset_z1.csv
  src/jupyter/rwrapr_example.py
Due: check-toml, check-ast, ruff, black

Update rwrapr-example
  src/jupyter/rwrapr_example.py
Due: check-ast, ruff, black

Change license to GPL-2.0-or-later
  LICENSE
Due: none

Fix license in pyproject.toml
  pyproject.toml
Due: check-toml

Fix rwrapr example
  poetry.lock
  src/jupyter/rwrapr_example.py
Due: check-ast, ruff, black

Revert license to MIT and remove rwrapr-example
  .pre-commit-config.yaml
  LICENSE
  poetry.lock
  pyproject.toml
  src/jupyter/dataset_z1.csv
  src/jupyter/rwrapr_example.py
Due: check-toml, check-yaml, check-ast, ruff, black

TIP-889: Add process data logging example
  poetry.lock
  pyproject.toml
  src/logging/README.md
  src/logging/log_processdata.py
  src/logging/process_data.py
  src/logging/quality_control_data.py
  src/logging/ssb_logger.py
Due: check-toml, check-ast, ruff, black

Add simple Dynaconf configuration file example
  README.md
  config/config.py
  config/config.toml
  config/settings.toml
  poetry.lock
  pyproject.toml
  src/config_examples/ConfigReader.py
  src/config_examples/README.md
  src/config_examples/config_example.py
  src/logging/README.md
Due: check-toml, check-ast, ruff, black

Refactor logging part 1
  config/config.py
  poetry.lock
  src/logging/log_demo.py
  src/logging/ssb_logger.py
  tests/test_ssb_logger.py
Due: check-ast, ruff, black

Make SsbLogger a thread safe singelton object
  src/logging/ssb_logger.py
  tests/test_ssb_logger.py
Due: check-ast, ruff, black

Rename SsbLogger to StatLogger
  src/logging/README.md
  src/logging/log_demo.py
  src/logging/log_processdata.py
  src/logging/log_sender.py
  src/logging/statlogger.py
  tests/test_statlogger.py
Due: check-ast, ruff, black

Filter out empty logdata when using jsonl
  src/logging/log_processdata.py
  src/logging/statlogger.py
Due: check-ast, ruff, black

Add loggers by a list of LoggerType instead of multiple booleans
  poetry.lock
  src/logging/statlogger.py
  tests/test_statlogger.py
Due: check-ast, ruff, black

First attempt at gcp logging
  src/logging/log_demo.py
  src/logging/log_gcp.py
Due: check-ast, ruff, black

Fix logger mypy errors and cleanup
  poetry.lock
  pyproject.toml
  src/logging/log_gcp.py
  src/logging/log_processdata.py
  src/logging/log_sender.py
  src/logging/process_data.py
  src/logging/statlogger.py
Due: check-toml, check-ast, ruff, black

Fix timezone
  src/logging/log_processdata.py
Due: check-ast, ruff, black

Rename get_logger to getLogger and add type hints
  src/logging/log_demo.py
  src/logging/log_processdata.py
  src/logging/statlogger.py
  tests/test_statlogger.py
Due: check-ast, ruff, black

Fix pyright errors
  src/logging/statlogger.py
Due: check-ast, ruff, black

Add documentation
  src/logging/statlogger.py
Due: check-ast, ruff, black

Read GCP project id from config
  src/logging/log_gcp.py
Due: check-ast, ruff, black

Add testcase for testing ipydatagrid in production zone
  tests/ipydatagrid/DataGridTest.py
  tests/ipydatagrid/cars.json
Due: check-ast, ruff, black

Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Initial config example for template
  config/config.py
  config/settings_template.toml
  poetry.lock
  src/config_examples/config_example.py
Due: check-toml, check-ast, ruff, black

Finish config example with paths
  config/config.py
  config/settings.toml
  config/settings_template.toml
  src/config_examples/config_example.py
Due: check-toml, check-ast, ruff, black

Update config example with boolean value
  config/settings.toml
  src/config_examples/config_example.py
Due: check-toml, check-ast, ruff, black

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  ruff: any of: \.py$, \.ipynb$
  black: any of: \.py$, \.ipynb$
