Repository statisticsnorway/tech-coach-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, check-json, check-ast, ruff, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-json
        name: Check JSON
        entry: check-json
        language: system
        types: [json]
      - id: check-ast
        name: Check Python syntax
        entry: check-ast
        language: system
        types: [python]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
      - id: ruff
        name: ruff
        entry: ruff check --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, jupyter]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, jupyter]
        require_serial: true
#  - repo: https://github.com/pre-commit/mirrors-prettier
#    rev: v3.1.0
#    hooks:
#      - id: prettier

Update dependencies
  .github/workflows/tests.yml
  poetry.lock
Due: check-yaml

Added code to show reading config from bucket path
  src/config_examples/config_example2.py
Due: check-ast, ruff, black

Add ipydatagrid example for csv files
  poetry.lock
  pyproject.toml
  src/parquet/csv_viewer.py
Due: check-toml, check-ast, ruff, black

Update pyproject.toml
  poetry.lock
  pyproject.toml
  src/parquet/csv_viewer.py
Due: check-toml, check-ast, ruff, black

Fix running csv_viewer in interactive windows in vscode
  src/parquet/csv_viewer.py
Due: check-ast, ruff, black

Fix running papermill example
  src/automation/papermill/papermill_parent.py
Due: check-ast, ruff, black

Update dependencies
  poetry.lock
Due: none

Initial faker example
  poetry.lock
  src/synthetic_data/synthetic.py
Due: check-ast, ruff, black

Example using of standard faker
  src/synthetic_data/synthetic.py
Due: check-ast, ruff, black

Add example using SSBFaker
  poetry.lock
  pyproject.toml
  src/synthetic_data/synthetic.py
Due: check-toml, check-ast, ruff, black

Add synthetic data vault example
  poetry.lock
  pyproject.toml
  src/synthetic_data/faker_example.py
  src/synthetic_data/sdv_example.py
Due: check-toml, check-ast, ruff, black

Use dapla-felles for example data
  README.md
  src/parquet/csv_viewer.py
  src/synthetic_data/sdv_example.py
Due: check-ast, ruff, black

Remove sdv example for now
  poetry.lock
  pyproject.toml
  src/synthetic_data/sdv_example.py
Due: check-toml, check-ast, ruff, black

Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Add parquet_info.py and AI-prompt for synthetic data
  poetry.lock
  src/copilot/parquet_info.py
  src/copilot/synthetic_data_prompt.md
Due: check-ast, ruff, black

Update .github/workflows/tests.yml
  .github/workflows/tests.yml
Due: check-yaml

add change to readme
  README.md
Due: none

Initial simple config example
  config/config.py
  config/settings_simple.toml
  src/config_examples/config_example.py
Due: check-toml, check-ast, ruff, black

Finished simple config example
  config/settings_simple.toml
  src/config_examples/config_example.py
Due: check-toml, check-ast, ruff, black

Apply suggestions from GitHub Copilot code review
  config/settings_simple.toml
  src/config_examples/config_example.py
Due: check-toml, check-ast, ruff, black

KOde for en DAG og kode for å laste opp denne til flow bøtta
  poetry.lock
  pyproject.toml
  src/cloud_composer/god_dag.py
  src/cloud_composer/upload_dag.py
Due: check-toml, check-ast, ruff, black

Utførte poetry update
  poetry.lock
Due: none

Testing fix, first make issue
  src/sonarcube_fixes/test.py
Due: check-ast, ruff, black

Testing fix, now make fix
  src/sonarcube_fixes/test.py
Due: check-ast, ruff, black

Testing
  src/sonarcube_fixes/test.py
Due: check-ast, ruff, black

Cruft update 1.8.0
  .cruft.json
  .github/dependabot.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .sonarcloud.properties
  LICENSE.md
  SECURITY.md
  config/README.md
  config/config.py
  experimental/README.md
  poetry.lock
  poetry.toml
  pyproject.toml
  tests/__init__.py
Due: check-toml, check-yaml, check-json, check-ast, ruff, black

Add dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Fix
  pyproject.toml
Due: check-toml

Update ssb-fagfunksjoner
  poetry.lock
  pyproject.toml
Due: check-toml

Add facit file for pandas 3.x
  tests/testdata/valuta_omv_facit_pandas3.parquet
Due: none

Fix test error and update dependencies
  config/config.py
  pyproject.toml
  src/automation/notebook_runner/notebook_runner.py
  src/automation/papermill/papermill_child1.py
  src/automation/papermill/papermill_child2.py
  src/automation/papermill/papermill_parent.py
  src/automation/pythonfunctions/parent.py
  src/config_examples/config_example.py
  src/copilot/parquet_info.py
  src/logging/log_demo.py
  src/logging/log_gcp.py
  src/logging/log_processdata.py
  src/logging/log_sender.py
  src/parquet/csv_viewer.py
  src/parquet/queries_duckdb.py
  src/parquet/sqltest.py
  src/pytest_examples/functions.py
  src/pytest_examples/notebook_example.py
  src/secret/file_encryption.py
  src/secret/google_secret_manager.py
  src/synthetic_data/faker_example.py
  tests/testdata/valuta_omv_facit.parquet
Due: check-toml, check-ast, ruff, black

Upgrade python version to allow pandas 3.x
  poetry.lock
  pyproject.toml
Due: check-toml

Update SonarQube version
  .github/workflows/tests.yml
Due: check-yaml

Temp doodle
  poetry.lock
  pyproject.toml
  src/parquedit/make_tables.py
  src/parquedit/simple.py
Due: check-toml, check-ast, ruff, black

Address comments
  .gitignore
  .pre-commit-config.yaml
  .sonarcloud.properties
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Fix
  .pre-commit-config.yaml
  tests/__init__.py
Due: check-yaml, check-ast, ruff, black

vibe coded tests
  poetry.lock
  pyproject.toml
  src/parquedit/make_tables.py
  src/parquedit/tests.py
Due: check-toml, check-ast, ruff, black
